{% extends 'index2.html' %}
{% load static %}

{% block content %}
<section class="min-vh-100 py-5">
    <div class="container mt-lg-5">
        <h1 class="pt-5 pb-3">Editando: {{ plano.name }}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" name="nome" value="{{ plano.name }}" required>
            </div>
            <div class="mb-3">
            <label class="form-label">Descrição</label>
            <textarea class="form-control" name="descricao">{{ plano.description }}</textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Dificuldade</label>
            <select class="form-select" name="dificuldade" required>
                <option value="beginner" {% if plano.difficulty == 'beginner' %}selected{% endif %}>Iniciante</option>
                <option value="intermediate" {% if plano.difficulty == 'intermediate' %}selected{% endif %}>Intermediário</option>
                <option value="advanced" {% if plano.difficulty == 'advanced' %}selected{% endif %}>Avançado</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        <a href="{% url 'treinos' %}" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>
</section>
{% endblock %}
