{% extends 'index2.html' %}
{% block content %}
<section class="min-vh-100 py-5">
  <div class="container my-lg-5">
    <h1 class="pt-5 pb-3">Treino de hoje</h1>

    {% if workout_day %}
      <h2>{{ workout_day.name }}</h2>
      <p>{{ workout_day.description }}</p>

      <form method="post">
        {% csrf_token %}
        {% for item in exercises %}
          <div class="card my-3">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-1 d-flex align-items-center justify-content-center">
                  <!-- Checkbox para marcar como feito -->
                  <input type="checkbox" name="ex_{{ item.id }}" />
                </div>
                <div class="col-11 col-lg-7">
                  <h5>{{ item.exercise.name }}</h5>
                  <p>{{ item.exercise.description }}</p>
                  <p>Séries: {{ item.custom_sets|default:item.exercise.sets }}</p>
                  <p>Repetições: {{ item.custom_reps|default:item.exercise.reps }}</p>
                  <p>Descanso: {{ item.rest_sec|default:item.exercise.rest_sec }}s</p>
                  <p>Dica: {{ item.exercise.tip }}</p>
                </div>
                <div class="col-12 col-lg-4 d-flex justify-content-end">
                    <img src="{{ item.exercise.photo.url }}" class="img-fluid" alt="{{ item.exercise.name }}">
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <button type="submit" class="btn btn-success mt-3">
          Finalizar Treino
        </button>
      </form>
    {% else %}
      <p>Nenhum plano de treino ativo encontrado.</p>
    {% endif %}
  </div>
</section>
{% endblock %}