{% extends 'index2.html' %}
{% block content %}
<section class="min-vh-100 py-5">
    <div class="container mt-lg-5">
        <h1 class="pt-5 pb-3">Dias de {{ plano.name }}</h1>

        <ul class="list-group mb-5">
            {% for pd in associados %}
            <li class="list-group-item d-flex justify-content-between">
                Dia {{ pd.sequence }} – {{ pd.day.name }}
                <div class="gap-2">
                    <!-- Formulário de remoção -->
                    <form method="post" action="{% url 'remover_dia_do_plano' plano.id pd.id %}"
                        style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Remover este dia do plano?');">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </form>
                    <!-- Botão Exercícios -->
                    <a href="{% url 'cadastrar_exercicio_no_dia' plano.id pd.day.id %}" class="btn btn-primary">
                        <i class="fa-solid fa-dumbbell"></i>
                    </a>
                </div>
            </li>
            {% empty %}
            <li class="list-group-item">Este plano ainda não tem dias.</li>
            {% endfor %}
        </ul>


        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Adicionar um dia existente:</h2>
            <a href="{% url 'novo_dia' %}" class="btn btn-secondary">
                Novo dia <i class="fa-solid fa-calendar-plus"></i>
            </a>
        </div>
        <ul class="list-group">
            {% for dia in todos_dias %}
            <li class="list-group-item d-flex justify-content-between">
                {{ dia.name }}
                <a href="{% url 'adicionar_dia_ao_plano' plano.id dia.id %}"
                    class="btn btn-sm btn-success">Adicionar</a>
            </li>
            {% empty %}
            <p>Não há dias disponíveis para adicionar.</p>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}