* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* HEADER */
/* Estado padrão */
.main-header {
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Força todos os textos/branco dos links dentro do header */
.main-header .nav-link,
.main-header .navbar-brand,
.main-header .logo-icon {
  color: #fff !important;
}

/* Quando a classe .scrolled é adicionada */
.main-header.scrolled {
  background-color: #0d6efd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Links e ícones ficam brancos */
.main-header.scrolled .navbar-brand,
.main-header.scrolled .logo-icon,
.main-header.scrolled .nav-link {
  color: #fff !important;
}

.logo-projeto {
    font-size: 1.4rem;
}